<% content_for :title do %>
  <%= "#{@user.name} | beagle" %>
<% end %>

<div id="user">
  <% if @user.image? %>
    <%= image_tag @user.image.url, id:"image" %>
  <% else %>
    <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/simple-post-mall/base/white_goat.jpg", id:"image" %>
  <% end %>

  <h2 id="name"><%= @user.name %></h2>
  <% if user_signed_in? %>
    <% if current_user?(@user) %>
      <%= link_to "プロフィールを編集", edit_user_path(current_user.id), id:"edit_btn" %>
    <% end %>
  <% end %>
</div>

<%# アドセンス広告=>レクタングル大 %>
<%= render "home/adsense" %>

<div id="posts_pressure">
  <%= render "posts/posts", posts:@posts %>
</div>

<%# アドセンス広告=>レクタングル大 %>
<%= render "home/adsense" %>

