
<% if not user_signed_in? %>
  <div id="about">
    <p>beagleは自然界と同じように「自然淘汰」の原理が組み込まれたサービスです。</p>

    <p>投稿されたコンテンツは一定時間が経過すると、評価度の高いコンテンツだけが生き残り、評価度の低いコンテンツは自動的に淘汰されるようにプログラムされています。</p>

    <p>そうすることで、より評価の高い良質なコンテンツのみがサイト上にストック(生存)されていくことになります。</p>

    <p>また、評価度の高いコンテンツをたくさん投稿しているユーザーは、ほかの一般的なユーザーに比べて１回ごとの高評価/低評価の影響度が大きくなります。</p>

    <p>つまり、あるコンテンツに対して他の平均的なユーザー数人が低評価にして評価度が低かったとしても、影響度の大きいユーザー１人が高評価すれば、そのコンテンツに対する評価は覆って良質なコンテンツとみなされるようになったりします。</p>

    <p>ネット上に自然淘汰の原理があればどんなコンテンツが生き残り、どんなコンテンツが淘汰されていくのか？</p>

    <p>それをあなたも一緒に見てみませんか？</p>
    <div id="btns">
      <%= link_to "ログイン", login_get_path, class: "btn" %>
      <%= link_to "新規登録", signup_get_path, class: "btn" %>
    </div>
  </div>
<% end %>

<%# アドセンス広告=>レクタングル大 %>
<%= render "home/adsense" %>

<div id="posts_pressure">
  <%= render "posts/posts", posts:@posts %>
</div>

<%# アドセンス広告=>レクタングル大 %>
<%= render "home/adsense" %>


